<div class="w-full h-screen fixed flex justify-center items-center bg-cover bg-fixed bg-center" style="background-image: url(assets/image/sign-in-bg.jpg);">
    <div class="flex flex-col w-[30%]">
        <div class="flex flex-col justify-start items-center">
            <img src="assets/image/bsu-logo.png" width="100px">
            <strong class="montserrat text-[20px] font-black text-primary">CICT - Extension  Office Management System</strong>
        </div>
        <div clas="flex flex-col w-[50%] justify-start gap-2">
            <div>
                <strong class="montserrat text-[20px] font-extrabold text-secondary">Log In </strong>
                <p class="">Please input credentials</p>
            </div>
            <div class="input-group">
                <label class="label">Email</label>
                <input autocomplete="off" name="Email" id="Email" class="input" type="text" (keyup)="email($event)">
                <div></div>
            </div>
            <div class="input-group">
                <label class="label">Password</label>
                <input autocomplete="off" class="input" type="password" (keyup)="password($event)">
                <div></div>
            </div>
            <div class="flex justify-around w-full items-center">
                <div class="w-[50%] flex gap-2 items-center">
                    <input checked="checked" type="checkbox">
                    <p>Show Password</p>
                </div>
                <button class="w-[50%]">
                    Forget Password
                </button>
            </div>
            <br>            
            <button class="btn-primary" (click)="login()">
                Log In
            </button>
            <br>
            <button class="w-full text-center mt-3" (click)="signup()">
                <p class="text-primary cursor font-bold">_________Sign-Up___________</p>
            </button>
        </div>
        <div>
            
        </div>
    </div>
</div>