<body class="w-full p-10 rounded-[10px] bg-based">
    <div>
        <strong class="text-[20px] ">Update Information</strong>
        <div>
            <form class="w-full">
                <div class="w-full flex justify-between gap-2">
                    <div class="input-group w-full">
                        <label class="label">First Name</label>
                        <input autocomplete="off"  class="input" type="text" >
                        <div></div>
                    </div>
                    <div class="input-group w-full">
                        <label class="label">Last Name</label>
                        <input autocomplete="off" class="input" type="text" >
                        <div></div>
                    </div>
                </div>
                <div class="w-full flex justify-between gap-2">
                    <div class="input-group w-full">
                        <label class="label">Birthdate</label>
                        <input autocomplete="off" id="calendar" class="input" type="date" >
                        <div></div>
                    </div>
                    <div class="input-group w-full">
                        <label class="label">Gender</label>
                        <select id="gender" class="bg-none input" >
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                </div>
                <div class="w-full flex justify-between gap-2">
                    <div class="input-group w-full">
                        <label class="label">Contact No.</label>
                        <input autocomplete="off"  class="input" type="text" >
                        <div></div>
                    </div>
                    <div class="input-group w-full">
                        <label class="label">Marital Status</label>
                        <select id="stats" class="bg-none input">
                            <option value="Single">Single</option>
                            <option value="Married">Married</option>
                            <option value="Divorce">Divorce</option>
                            <option value="Widows">Widow</option>
                        </select>
                    </div>
                </div>
                <div class="w-full flex justify-center mt-3">
                    <button class="btn-primary w-full" (click)="CLICK()">
                        Update
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>