<body class="w-full h-screen fixed bg-[#eaeaea]">
    <div class="w-full h-screen flex">
        <!-- //side bar -->
        <section class="w-[20%] bg-based h-screen ">
            <div class="p-2 w-full h-screen flex flex-col justify-evenly">
                <div class="w-full h-screen">
                    <div class="flex items-center gap-2">
                        <img src="assets/image/bsu-logo.png" width="50px">
                        <strong class="montserrat text-[12px] font-extrabold">CICT - Extension  Office Management System</strong>
                    </div>
                    <div class="mt-5 flex flex-col gap-2" (click)="dashboard()">
                        <button class="side-btn ">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 7.125C2.25 6.504 2.754 6 3.375 6h6c.621 0 1.125.504 1.125 1.125v3.75c0 .621-.504 1.125-1.125 1.125h-6a1.125 1.125 0 01-1.125-1.125v-3.75zM14.25 8.625c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v8.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-8.25zM3.75 16.125c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-2.25z" />
                              </svg>
                                                        
                            <p>Dashboard</p>
                        </button>
                        <button class="side-btn" (click)="program()">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5" />
                              </svg>                                                                            
                            <p>Program</p>
                        </button>
                        <button class="side-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 7.5V6.108c0-1.135.845-2.098 1.976-2.192.373-.03.748-.057 1.123-.08M15.75 18H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08M15.75 18.75v-1.875a3.375 3.375 0 00-3.375-3.375h-1.5a1.125 1.125 0 01-1.125-1.125v-1.5A3.375 3.375 0 006.375 7.5H5.25m11.9-3.664A2.251 2.251 0 0015 2.25h-1.5a2.251 2.251 0 00-2.15 1.586m5.8 0c.065.21.1.433.1.664v.75h-6V4.5c0-.231.035-.454.1-.664M6.75 7.5H4.875c-.621 0-1.125.504-1.125 1.125v12c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V16.5a9 9 0 00-9-9z" />
                            </svg>                         
                            <p>Reports</p>
                        </button>
                        <button class="side-btn" (click)="manage_user()">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
                            </svg>                                                                             
                            <p>Manage User</p>
                        </button>
                        <button class="side-btn activate" (click)="partners_management()">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008z" />
                            </svg>                                                                                                         
                            <p>Partners Management</p>
                        </button>
                    </div>
                </div>
                <div>
                    <button class="side-btn ">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
                        </svg>                                                                                                           
                        <p>Log Out</p>
                    </button>
                </div>
            </div>
            
        </section>
        <!-- //main section -->
        <section class="w-[80%] h-screen p-5 overflow-y-auto scrollbar-hide">
            <div class="w-full rounded-[10px] bg-based p-3 flex items-center justify-between">
                <p class="font-extrabold text[20px]">Project Management</p>
                <div class="flex items-center gap-3">
                    <button class="btn-primary p-1 w-[100px]">Renew</button>
                    <button class="p-1 border-primary border-[1px] rounded w-[100px]">MOA</button>
                    
                </div>
            </div>
            <section class="w-full h-screen flex justify-center gap-4 mt-5" >
                <!-- table -->
                <div class="w-full ">
                    <div class="w-full h-full flex flex-col justify-evenly items-center bg-based p-3 rounded-[10px]">
                        <div class=" w-full p-2 ">
                            <strong class="text[20px] ">Partners Details</strong>
                            <p class="text-[12px]">Please input the information of the company</p>
                        </div>
                        <div class="bg-based w-full p-2 rounded flex justify-center gap-3">
                            <div class="input-group w-full">
                                <label class="label">Contact Person</label>
                                <input autocomplete="off" class="input" type="text" [(ngModel)]="this.ContactPerson">
                                <div></div>
                            </div>
                            <div class="input-group w-full">
                                <label class="label">Contact#</label>
                                <input autocomplete="off" class="input" type="text" [(ngModel)]="this.ContactNumber">
                                <div></div>
                            </div>
                        </div>
                        <div class="bg-based w-full p-2 rounded flex justify-center gap-3">
                            <div class="input-group w-full">
                                <label class="label">Partnership Start</label>
                                <input autocomplete="off" id="start_calendar" class="input" type="date">
                                <div></div>
                            </div>
                            <div class="input-group w-full">
                                <label class="label">Partnership Expiration</label>
                                <input autocomplete="off" id="end_calendar" class="input" type="date">
                                <div></div>
                            </div>
                        </div>

                        <div class="bg-based w-full p-2 rounded">
                            <div class="input-group">
                                <label class="label">Company Name</label>
                                <input autocomplete="off" class="input" type="text" [(ngModel)]="this.Partnername">
                                <div></div>
                            </div>
                        </div>
                        <div class="bg-based w-full p-2 rounded flex justify-center gap-3">
                            <div class="input-group w-full">
                                <label class="label">MOA</label>
                                <input autocomplete="off" class="input" type="file">
                                <div></div>
                            </div>
                            <div class="input-group w-full">
                                <label class="label">Company Profile</label>
                                <input autocomplete="off" class="input" type="file">
                                <div></div>
                            </div>
                        </div>
                        <div class="bg-based w-full p-2 rounded flex justify-center gap-3 mt-2">
                            <button class="btn-primary" (click)="addpartner()">
                                Submit
                            </button>
                        </div>

                    </div>
                </div>
                <div class="w-full h-screen p-3 overflow-hidden">
                    <div>
                        <p class="text-[20px] font-extrabold">List of Partnership</p>
                    </div>
                    <div class="w-full mt-3 h-full overflow-y-auto scrollbar-hide">
                        
                        <table class="border-collapse w-full flex flex-col gap-3">
                            <tr class="w-full bg-based rounded-[10px] p-2 flex items-center gap-2" *ngFor="let x of partners" id="btn_value">
                                <td class="table-part w-[20%] mt-3">
                                    <img src="assets/image/Accenture-Emblem.png" width="50px">
                                </td>
                                <td class=" w-full flex flex-col p-1 text-[12px] overflow-hidden ">
                                    <strong>{{x.PartnerName}}</strong>
                                    <p>{{x.ContactPerson}}</p>
                                </td>
                                <td class="table-part w-[20%]" >
                                    <button class="btn-primary" (click)="seemore(x.PartnerId)">. . .</button>
                                </td>
                            </tr>
                            
                           <br>

                        </table>
                    </div>
                </div>
                
            </section>
        </section>
    </div>
    
</body>
