<body class="fixed w-full bg-center bg-cover bg-fixed" style="background-image: url(assets/image/sign-up-bg.jpg);">
    <div class="w-[40%] h-screen p-5 flex items-center ">
        <div class="w-full relative ">
            <div class="w-full p-5">
                <div class="flex justify-start items-center gap-3">
                    <img src="assets/image/bsu-logo.png" width="90px">
                    <div>
                        <strong class="text-primary font-black">CICT - Extension  Office Management System</strong>
                        <p>Bulacan State University</p>
                    </div>
                </div>
                <br>
                <strong>Create your Account</strong>
                <p>Please Input Your Credentials!!</p>
                <div class="w-full">
                    <div class="w-full flex justify-between gap-2">
                        <div class="input-group">
                            <label class="label">First Name</label>
                            <input autocomplete="off"  class="input" type="text" >
                            <div></div>
                        </div>
                        <div class="input-group">
                            <label class="label">Middle Name</label>
                            <input autocomplete="off"  class="input" type="text" >
                            <div></div>
                        </div>
                        <div class="input-group">
                            <label class="label">Last Name</label>
                            <input autocomplete="off" class="input" type="text" >
                            <div></div>
                        </div>
                    </div>
                    <div class="input-group">
                        <label class="label">Email</label>
                        <input autocomplete="off"  class="input" type="text" (keyup)="email($event)">
                        <div></div>
                    </div>
                    <div class="input-group">
                        <label class="label">Password</label>
                        <input autocomplete="off"  class="input" type="password" (keyup)="password($event)">
                        <div></div>
                    </div>
                </div>
                <div class="w-full flex justify-center mt-3">
                    <button class="btn-primary w-[70%]" (click)="login()">
                        Create Account
                    </button>
                </div>
                
            </div>
        </div>
    </div>
</body>