/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply bg-[#FF1E1E] w-full p-3 rounded text-[#ffff] font-semibold;
    }
    .side-btn{
        @apply w-full flex justify-start items-center text-[15px] p-2 gap-3 rounded hover:bg-primary hover:text-based transition duration-500 ease-in-out;
    }
    .table-part{
        @apply w-full flex items-center p-1 text-[12px] overflow-hidden;
    }
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}
  
.activate{
    color:#ffff;
    background: #a30401;
    animation: anim 2.5s infinite ease-in-out;background: #a30401;
    background: -webkit-linear-gradient(57deg, #a30401 0%, #ff383f 50%, #e138ff 100%);
    background: linear-gradient(57deg, #a30401 0%, #ff383f 50%, #e138ff 100%);
    background-size: 400% 400%;
}

@keyframes anim {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
  }
  
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}


html, body { height: 100%; }
body {  margin: 0; font-family: 'Montserrat', sans-serif; }
